
<div class="container mt-4">
  <h3>Employee List</h3>

  <button *ngIf="role === 'HR'" class="btn btn-success mb-3"
    routerLink="/employees/add">
    Add Employee
  </button>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Salary</th>
        <th *ngIf="role === 'HR'">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{ emp.fullName }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.department }}</td>
        <td>{{ emp.salary }}</td>

        <td *ngIf="role === 'HR'">
          <button class="btn btn-primary btn-sm me-2"
            (click)="edit(emp.id)">Edit</button>

          <button class="btn btn-danger btn-sm"
            (click)="delete(emp.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>