
<div class="container mt-4">
  <h3>{{ isEdit ? 'Edit Employee' : 'Add Employee' }}</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="mb-3">
      <label>Name</label>
      <input class="form-control" formControlName="fullName">
      <div class="text-danger" *ngIf="form.get('fullName')?.invalid && form.get('fullName')?.touched">
        Name must be at least 3 characters
      </div>
    </div>

    <div class="mb-3">
      <label>Email</label>
      <input class="form-control" formControlName="email">
      <div class="text-danger" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        Enter valid email
      </div>
    </div>

    <div class="mb-3">
      <label>Department</label>
      <input class="form-control" formControlName="department">
    </div>

    <div class="mb-3">
      <label>Salary</label>
      <input type="number" class="form-control" formControlName="salary">
      <div class="text-danger" *ngIf="form.get('salary')?.invalid && form.get('salary')?.touched">
        Minimum salary must be 1000
      </div>
    </div>

    <div class="mb-3">
      <label>User Id</label>
      <input type="number" class="form-control" formControlName="userId">
    </div>

    <button class="btn btn-primary">Save</button>
  </form>
</div>